.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(140 0 255 / 71%);
  
}
.container-card {
  background-color: #bedcfa;
  border-radius: .25rem;
  border: 1px solid #dee2e6;
}

.title-card {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #c19065;
}
.icono-temperature {
  display: flex;
  justify-content: space-around;
}
.degrees {
  text-align: center;
}

.wind-speet {
  line-height : 2em;
  color: #161d6f;
  font-weight: 900;
  font-size: 140%;
}

.fas {
  padding-right: 3%;
  color: tomato;
} 

.change {
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #ffc107;
  border-color: #ffc107;
  cursor: pointer;
  padding: 1% 2%;
} 

.container-button {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
}